<div class="social-links">
    {% if site.owner.github %}
        <a href="http://github.com/{{ site.owner.github }}"><span class="icon-github"></span></a>
    {% endif %}
    {% if site.owner.twitter %}
	    <a href="http://twitter.com/{{ site.owner.twitter }}"><span class="icon-twitter"></span></a>
	{% endif %}
    {% if site.owner.facebook %}
        <a href="http://facebook.com/{{ site.owner.facebook }}"><span class="icon-facebook"></span></a>
    {% endif %}
    {% if site.owner.google_plus_id %}
        <a href="http://plus.google.com/{{ site.owner.google_plus_id }}"><span class="icon-google-plus"></span></a>
    {% endif %}
    {% if site.owner.linkedin %}
        <a href="http://linkedin.com/in/{{ site.owner.linkedin }}"><span class="icon-linkedin"></span></a>
    {% endif %}
    {% if site.owner.stackexchange %}
        <a href="{{ site.owner.stackexchange }}"><span class="icon-stackexchange"></span></a>
    {% endif %}
    {% if site.owner.instagram %}
        <a href="http://instagram.com/{{ site.owner.instagram }}"><span class="icon-instagram"></span></a>
    {% endif %}
    {% if site.owner.flickr %}
        <a href="http://www.flickr.com/photos/{{ site.owner.flickr }}"><span class="icon-flickr"></span></a>
    {% endif %}
    {% if site.owner.tumblr %}
        <a href="http://{{ site.owner.tumblr }}.tumblr.com"><span class="icon-tumblr"></span></a>
    {% endif %}
    <a href="{{ site.url }}/feed.xml"><span class="icon-rss"></span></a>
</div>